<script>
    const givenModal = document.querySelector('#modalContextGiven') //get id
    document.querySelectorAll('.edit-ctx-given').forEach(btn => {
        btn.addEventListener('click', () => {
            givenModal.querySelector('.modal-title').innerHTML = "Edit Given" //title
            givenModal.querySelector('.given-edit-type').value = "edit-given" //id yang di edit 
            givenModal.querySelector('.s_id').value = btn.dataset.id //
            givenModal.querySelector('#given-input-statement').value = btn.dataset.statement

            var selectedIndex = 0
            try {
                givenModal.querySelectorAll('option').forEach(e => {
                    if (e.value == btn.dataset.template) {
                        throw 'Break'
                    }
                    selectedIndex++
                })
            } catch (e) {
                if (e !== 'Break') throw e
            }
            givenModal.querySelector('select').selectedIndex = selectedIndex
        })
    })
    document.querySelectorAll('.delete-ctx-given').forEach(btn => {
        btn.addEventListener('click', () => {
            givenModal.querySelector('.given-edit-type').value = "delete-given" //id yang di edit 
            givenModal.querySelector('.s_id').value = btn.dataset.id //
            givenModal.querySelector('#given-submit-btn').click()
        })
    })
    document.querySelectorAll('.add-ctx-given').forEach(btn => {
        btn.addEventListener('click', () => {
            givenModal.querySelector('.modal-title').innerHTML = "Add Given" //title
            givenModal.querySelector('.given-edit-type').value = "add-given" //id yang di edit 
            givenModal.querySelector('.s_id').value = btn.dataset.id //
            givenModal.querySelector('#given-input-statement').value = null
            givenModal.querySelector('select').selectedIndex = 0
        })
    })
</script>