<script>
    const thenModal = document.querySelector('#ctxThenModal') // Id modal
    // nampilin di edit
    document.querySelectorAll('.edit-ctx-then').forEach(btn => {
        btn.addEventListener('click', () => {
            thenModal.querySelector('.modal-title').innerHTML = "Edit Then"
            thenModal.querySelector('.then-c_id').value = btn.dataset.id
            var selectedIndex = 0
            if (btn.dataset.activity == "None") {
                selectedIndex = 1
            } else {
                try {
                    thenModal.querySelectorAll('option').forEach(e => {
                        if (e.value == btn.dataset.activity) {
                            throw 'Break'
                        }
                        selectedIndex++
                    })
                } catch (e) {
                    if (e !== 'Break') throw e
                }
            }
            thenModal.querySelector('select').selectedIndex = selectedIndex
        })
    })
    document.querySelectorAll('.delete-ctx-then').forEach(btn => {
        btn.addEventListener('click', () => {
            thenModal.querySelector('.then-c_id').value = btn.dataset.id
            thenModal.querySelector('.then-delete').value = "true"
            thenModal.querySelector('#then-submit-btn').click()
        })
    })

    document.querySelector('#add-ctx-then').addEventListener('click', () => {
        thenModal.querySelector('.modal-title').innerHTML = "Add Then"
        thenModal.querySelector('.then-c_id').value = null
        thenModal.querySelector('select').selectedIndex = 0
    })
    </script>