{% for when in scene.when %}
    <p class="card-text">
        <button class="btn btn-warning edit-ctx-when"
                data-bs-toggle="modal"
                data-bs-target="#modalContextWhen"
                data-id="{{ when.id }}"
                data-statement="{{ when.context_statement }}"
                data-template="{{ when.context_template }}"
                data-component="{{ when.component_id }}">
            EDIT
        </button>
        <button class="btn btn-danger delete-ctx-when"
                data-id="{{ when.id }}"
                {% if forloop.counter == 1 %}disabled{% endif %}>DELETE</button>
        <span class="text-muted h5">
            {% if forloop.counter == 1 %}
                WHEN
            {% else %}
                AND
            {% endif %}
        </span> {{ when.text }}
    </p>
{% endfor %}
