<div class="modal fade"
     id="modalContextThen"
     tabindex="-1"
     aria-labelledby="modalContextThenLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <form action="{% url 'project_scenario_edit' request.session.project %}"
              class="modal-content"
              method="post">
            {% csrf_token %}
            <input type="hidden" name="s_id" class="s_id">
            <input type="hidden" name="edit_type" value="" class="then-edit-type">
            <div class="modal-header">
                <h5 class="modal-title" id="modalContextThenLabel">Add Scenario</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="" class="form-label">Then</label>
                    <div class="row">
                        <div class="col-12">
                            <select class="form-select then-select-template"
                                    name="then-template"
                                    aria-label="Default select example"
                                    onchange="thenEditListener()">
                                <option value="" selected disabled>
                                    Select Template Action
                                </option>
                                <option value="I should be on &lt;statement&gt;">
                                    I should be on &lt;page&gt;
                                </option>
                                <option value="the url should match &lt;statement&gt;">
                                    the url should match
                                    &lt;pattern&gt;
                                </option>
                                <option value="the response status code should be &lt;statement&gt;">
                                    the
                                    response status code should be &lt;code&gt;
                                </option>
                                <option value="the response status code should not be &lt;statement&gt;">
                                    the
                                    response status code should not be &lt;code&gt;
                                </option>
                                <option value="I should see &lt;statement&gt;">
                                    I should see &lt;text&gt;
                                </option>
                                <option value="I should not see &lt;statement&gt;">
                                    I should not see
                                    &lt;text&gt;
                                </option>
                                <option value="I should see text matching &lt;statement&gt;">
                                    I should see text
                                    matching &lt;pattern&gt;
                                </option>
                                <option value="I should not see text matching &lt;statement&gt;">
                                    I should not
                                    see text matching &lt;pattern&gt;
                                </option>
                                <option value="the response should contain &lt;statement&gt;">
                                    the response
                                    should contain &lt;text&gt;
                                </option>
                                <option value="the response should not contain &lt;statement&gt;">
                                    the response
                                    should not contain &lt;text&gt;
                                </option>
                                <option value="I should see &lt;statement&gt; in the &lt;component&gt; element">
                                    I should see &lt;text&gt; in the &lt;element&gt; element
                                </option>
                                <option value="I should not see &lt;statement&gt; in the &lt;component&gt; element">
                                    I should not see &lt;text&gt; in the &lt;element&gt; element
                                </option>
                                <option value="the &lt;component&gt; element should contain &lt;statement&gt;">
                                    Then
                                    the &lt;element&gt; element should contain &lt;value&gt;
                                </option>
                                <option value="the &lt;component&gt; element should not contain &lt;statement&gt;">
                                    the &lt;element&gt; element should not contain &lt;value&gt;
                                </option>
                                <option value="I should see an? &lt;component&gt; element">
                                    I should see an?
                                    &lt;element&gt; element
                                </option>
                                <option value="I should not see an? &lt;component&gt; element">
                                    I should not
                                    see an? &lt;element&gt; element
                                </option>
                                <option value="the &lt;component&gt; field should contain &lt;statement&gt;">
                                    Then
                                    the &lt;field&gt; field should contain &lt;value&gt;
                                </option>
                                <option value="the &lt;component&gt; field should not contain &lt;statement&gt;">
                                    the &lt;field&gt; field should not contain &lt;value&gt;
                                </option>
                                <option value="the &lt;component&gt; checkbox should be checked">
                                    the
                                    &lt;checkbox&gt; checkbox should be checked
                                </option>
                                <option value="the &lt;component&gt; checkbox should not be checked">
                                    the
                                    &lt;checkbox&gt; checkbox should not be checked
                                </option>
                            </select>
                        </div>
                        <div id="" class="form-text mb-3">set for now, you can add/edit later</div>
                        {% comment %} select component {% endcomment %}
                        <div class="col-1"></div>
                        <div class="col-11">
                            <select class="form-select mb-3 then-select-component"
                                    name="then-component"
                                    aria-label="Default select example">
                                <option value="" selected disabled>
                                    select component / element html
                                </option>
                                {% for comp in components %}
                                    <option value="{{ comp.id }}">
                                        {{ comp.type_component }} {{ comp.value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% comment %} input statement {% endcomment %}
                        <div class="col-1"></div>
                        <div class="col-11">
                            <input type="text"
                                   name="then-statement"
                                   class="form-control then-statement"
                                   placeholder="some value"
                                   id="then-input-statement">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="then-submit-btn">Save</button>
            </div>
        </form>
    </div>
</div>
