<div class="modal fade"
         id="ctxThenModal"
         tabindex="-1"
         aria-labelledby="ctxThenModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'project_context_then' request.session.project %}"
                  class="modal-content"
                  method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="ctxThenModalLabel">Add Then</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="c_id" class="then-c_id">
                    <input type="hidden" name="type" class="then-c_id" value="then">
                    <input type="hidden" name="delete" class="then-delete" value="false">
                    <select class="form-select then-component"
                            name="activity"
                            aria-label="Default select example">
                        <option selected disabled>
                            Select Component
                        </option>
                        {% for a in activities %}
                            <option value="{{ a.id }}">
                                {{ a.activity_name }} |
                                {% if a.component_id is not None %}
                                    {{ a.comp.value }} —
                                    {{ a.comp.type_component }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" id="then-submit-btn">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>