{% extends 'project/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="Activity_name" class="form-label">Name Activity</label>
        <input type="text" name="name Activity" id="activity_name" placeholder="activity name" class="form-control">
    </div>
    <div class="mb-3">
        <label for="Activity_name" class="form-label">Component</label>
        <select class="custom-select custom-select-lg mb-5">
            <option selected disable>Select the Component</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select> 
    </div>
    <div class="mb-3">
        <a href="{% url 'project_details' 1 %}" class="btn btn-danger">cancel</a>
        <button type="submit" class="btn btn-success">create</button>
    </div>
</form>
{% endblock content %}