{% extends 'project/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="Activity_name" class="form-label">Name Activity</label>
        <input type="text" name="Activity_name" id="activity_name" placeholder="activity name" class="form-control">
    </div>
    <div class="mb-3">
        <label for="Activity_name" class="form-label">Component</label>
        <select name="Component" class="form-select">
            <option selected disabled>Select the Component</option>
            <option value="">Tanpa Komponen</option>
            {% for comp in components %}
                <option value="{{comp.id}}">{{comp.value}} | {{comp.type_component}}</option>
            {% endfor %}
          </select> 
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">create</button>
        <a href="{% url 'project_details' wireframe.id %}" class="btn btn-danger">cancel</a>
    </div>
</form>
{% endblock content %}