{% extends 'project/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="Activity_name" class="form-label">Name Activity</label>
        <input type="text" name="name Activity" id="activity_name" placeholder="activity name" class="form-control">
    </div>
    <div class="mb-3">
        <label for="Activity_name" class="form-label">Component</label>
        <select class="custom-select custom-select-lg mb-5" name="Component">
            <option selected>Select the Component</option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
          </select> 
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-danger">cancel</button>
        <button type="submit" class="btn btn-success">create</button>
    </div>
</form>
{% endblock content %}