{% extends 'project/base.html' %}
{% block content %}
<form>
    <div class="mb-4">
        <label for="" class="h4">GIVEN</label>
        <div class="row align-items-center mb-3">
            <div class="col-5">
                <input type="text" class="form-control" id="">
            </div>
            <div class="col-1">for</div>
            <div class="col-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Component</option>
                    <option value="">no component</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="col mx-2 btn btn-primary">Add</button>
                    <button class="col btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col-5">
                <input type="text" name="a" class="form-control" id="">
            </div>
            <div class="col-1">for</div>
            <div class="col-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Component</option>
                    <option value="">no component</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="col mx-2 btn btn-primary">Add</button>
                    <button class="col btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <label for="" class="h4">WHEN</label>
        <div class="row align-items-center mb-3">
            <div class="col-5">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Rules</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-1">is</div>
            <div class="col-4">
                <input type="text" class="form-control" id="">
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="col mx-2 btn btn-primary">Add</button>
                    <button class="col btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col-5">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Rules</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-1">is</div>
            <div class="col-4">
                <input type="text" class="form-control" id="">
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="col mx-2 btn btn-primary">Add</button>
                    <button class="col btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <label for="" class="h4">THEN</label>
        <div class="row align-items-center mb-3">
            <div class="col-10">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Activity</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="col mx-2 btn btn-primary">Add</button>
                    <button class="col btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col-10">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Activity</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="col mx-2 btn btn-primary">Add</button>
                    <button class="col btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <label for="" class="h4">ALTERNATE THEN</label>
        <div class="row align-items-center mb-3">
            <div class="col-10">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Activity</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2">
                <div class="row">
                    <button class="col mx-2 btn btn-primary">Add</button>
                    <button class="col btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}