{% extends 'project/base.html' %}
{% block content %}
    <!-- {{ id }} -->
    <div class="h1 ">{{ wireframe.project_name }}</div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-2 mt-4">
            <div class="h3 mb-3">Wireframe</div>
            <div class="row mx-1">
                <button class="btn btn-primary mb-2">See Script</button>
                <button class="btn btn-primary">Export to User-Story Scenario</button>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-2 mt-3">
            <div class="h3 ">Context</div>
            <div class="">
                <table class="table">
                    <tr>
                        <td>Given</td>
                        <td>Null</td>
                    </tr>
                    <tr>
                        <td>When</td>
                        <td>Null</td>
                    </tr>
                    <tr>
                        <td>Then</td>
                        <td>Null</td>
                    </tr>
                    <tr>
                        <td>Alternate-Then</td>
                        <td>Null</td>
                    </tr>
                </table>
                <button class="btn btn-primary mt-3">Edit Context</button>
            </div>
        </div>
        <div class="col-lg-6 col-12 mt-3 mb-2">
            <div class="h3 mb-3">List Component and Rules</div>
            <a href="{% url 'project_rules_add' wireframe.id %}"
               class="btn btn-primary my-1">Add Rules</a>
            {% for comp in components %}
                <ul class="list-group mb-3">
                    <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                        {{ comp.value }} | Tipe : {{ comp.type_component }}
                    </li>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            DUMMY
                            <div>
                                <button class="btn btn-warning">Edit</button>
                                <button class="btn btn-danger">Delete Rules</button>
                            </div>
                        </li>
                    </ul>
                </ul>
            {% endfor %}
            <ul class="list-group mb-3">
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">DUMMY</li>
                <ul class="list-group">
                    {% for rule in list_rules %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ rule.rules_desc }}
                            <div>
                                <a href="{% url 'project_rules_edit' wireframe.id rule.id %}"
                                   class="btn btn-warning">Edit</a>
                                <a href="{% url 'project_rules_delete' rule.id %}"
                                   class="btn btn-danger">Delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
        <div class="col-lg-6 col-12 mt-3 mb-2">
            <div class="h3 mb-3">List Activity</div>
            <a href="{% url 'project_activiy_add' wireframe.id %}"
               class="btn btn-primary my-1">Add Activity</a>
            <table class="table table-bordered">
                <tr class="table-primary">
                    <th>Activity</th>
                    <th>Component</th>
                    <th>
                        action
                    </th>
                </tr>
                {% for activity in list_activites %}
                    <tr>
                        <td>
                            {{ activity.activity_name }}
                        </td>
                        <td>
                            {{ activity.component_id }}
                        </td>
                        <td>
                            <a href="{% url 'project_activiy_edit' id activity.id %}"
                               class="btn btn-warning">Edit</a>
                            <a href="{% url 'project_activity_delete' activity.id %}"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
